{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="containers">
        <button class="back-button" onclick="history.back()">Back</button>
        <img src="{{url_for('static', filename='recipe_pics/' + recipe.image_file)}}" alt="Pinakbet" class="recipe-image">
        <h1>{{ recipe.name }}</h1>
        <div class="recipe-details">
            <div class="details">
                <p><label>Cuisine: </label>  {{ recipe.cuisine }}</p>
                <p><label>Meal Type:</label>  {{ recipe.meal_type }}</p>
                <p><label>Dish Type:</label> {{ recipe.dish_type }}</p>
                <p><label>User Type:</label> {{ recipe.user_type }}</p>

                {% if recipe.user_type.strip() == "bodybuilding" %}
                <p><label>Protein:</label> {{recipe.protein }}</p>
                    <p><label>Calories:</label> {{recipe.calories }}</p>
                {% else %}
                    <p><label>Difficulty:</label>  {{recipe.difficulty }}</p>
                    <p><label>Affordability:</label>  {{recipe.affordability }}</p>
                {% endif %}
            </div>
            <div class="ingredients">
                <h4>Ingredients</h4>
                <ul>
                    {% for ingredient in recipe.ingredients.split('\n') %}
                        <li> {{ ingredient }} </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="ingredients">
                <h4>Instructions</h4>
                <ol>
                    {% for step in recipe.instructions.split('\n') %}
                        <li> {{ step }} </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% if recipe.creator == current_user %}
        <div>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"> Delete </button>
        </div>
        {% endif %}
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete your recipe?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Deleting this recipe will remove it permanently from your collection. This action cannot be undone.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}