body, html  {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    flex: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /*   COLOR NG NAVBAR   */
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar .logo {
    color: #386641;  /*   COLOR NG BRAND   */
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 30px;
    margin-right: 10px;
}

.navbar .logo .highlight {
    color: #A7C957;
}

.navbar .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .menu li {
    margin-right: 50px;
}

.navbar .menu li a {
    text-decoration: none;
    color: #386641; /*   FONT COLOR NG MENU   */
    font-weight: 2 00;
}

.navbar .account {
    display: flex;
    align-items: center;
}

.navbar .account span {
    color: #386641;
    margin-right: 25px;
    font-weight: normal;
}

.navbar .account .dropdown {
    margin-right: 10px;
}

.navbar .account .dropdown button {
    background-color: #A7C957;  /*   COLOR NG DROPDOWN   */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.navbar .account .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar .account .dropdown-content a {
    color: #386641; /*   COLOR NG DROPDOWN TEXTS   */
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.navbar .account .dropdown-content a:hover {
    background-color: #d2d2d2;  /*   COLOR NG HOVER SA DROPDOWN   */
}

.navbar .account .dropdown:hover .dropdown-content {
    display: block;
}